<div class="span6 offset3">
	<div class="boxy text-center">


		<h1 class="custom-font-headline">Hi I'm Marco</h1>

		<br/>
		<p class="custom-font-paragraph">I'm having a ton of fun running the Firehose Weekend event and shipping awesome web applications together with amazing people!</p>
		<br/>
		<%= link_to('Check out my App', '#', :class => 'btn btn-warning btn-large') %>

	</div>
</div>