
<h2 class="custom-pic-header">My First Web Application Coding Journey</h2>

<% @pics.each do |pic| %>

	<div class="span3">
		<div class="boxy">
			<h2>Hour: <%= pic.hour %></h2>
			<p />
			<%= image_tag pic.image %>
			<p />
			<h4>Emotion: 
				<p> </p>
				<%= pic.emotion %>
			</h4>
			<br />
			<h4>What I Learned:</h4>
				<p> 
				<%= pic.learned %>
				</p>
			<p />
		</div>
	</div>

<% end %>
<br />


